{
  "MAILERLITE_API_KEY": "your-mailerlite-api-key",
  "MAILERSEND_FROM_EMAIL_ADDRESS_ADDITIONAL_FIELD_0": "your-email@example.com",
  "GEMINI_API_KEY": "your-gemini-api-key",
  "GOOGLE_GEMINI_API_KEY_ADDITIONAL_FIELD_1": "your-gemini-api-key",
  "JWT_SECRET": "your-jwt-secret-generate-with-npm-run-generate-jwt",
  "FLOOT_DATABASE_URL_LOCAL": "postgresql://username@localhost:5432/database_name",
  "FLOOT_DATABASE_URL_PROD": "postgresql://username:password@host:5432/database_name",
  "TELEGRAM_BOT_TOKEN": "your-telegram-bot-token",
  "TELEGRAM_CHAT_ID": "your-telegram-chat-id",
  "BREVO_API_KEY": "your-brevo-api-key"
}
